{% block menu_list -%}
    <ul>
        {% for item in menu.items %}
            {{ block('menu_item') }}
        {% endfor %}
    </ul>
{% endblock %}

{% block menu_item -%}
    {% if item is defined %}
        <li {% if item.active is defined or item.inTree is defined %}class="active"{% endif %}>
            <a href="{{ cmfPath(item.nodeRoute) }}">{{ item }}</a>
            {% if item.items.count %}
                {% set menu = item %}
                {{ block('menu_list') }}
            {% endif %}
        </li>
    {% endif %}
{% endblock %}